.header {
  background: $c-main-blue;
  padding: 22px 0 21px 0;

  &__inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__socials {
    justify-content: space-between;
      @extend .header__inner;
      align-items: center;
      

    &-list {
      justify-content: space-between;
      @extend .header__inner;
      padding-left: 36px;
      flex: 0 0 50%;
      gap: 10px;
    }
  }
}

.logo {
  height: 35px;
  width: 119px;
}

.navigation {
  justify-content: space-between;
  @extend .header__inner;
  flex: 0 0 55%;

  &__list {
    justify-content: space-between;
    @extend .header__inner;
    flex: 0 0 57.4%;
  }

  &__item {
    letter-spacing: 0.17px;
    line-height: 26px;
    @include f-Inter;
    font-size: 17px;

    &:last-of-type {
      padding-left: 10px;
    }
  }

  &__href {
    transition: 0.5s color;
    color: $c-light-grey;

    &:hover {
      color: $c-main-yellow;
    }
  }
}

// Social media buttons

.social-btn {

  &__header {
  border: 2px solid $c-white;
  background: $c-white;
  height: 45px;
  width: 45px;}
  

  &__footer {
    border: 2px solid $c-main-yellow;
    background: none;
    height: 55px;
    width: 55px;
  }
}


// Cart 

.cart-btn {
margin-right: 8px;
 flex: 0 0 14.5%;
 width: 17px;
 height: 17x;
}

