include ../../elements/social-btn/social-btn
include ../../elements/buy-btn/buy-btn
include ../../elements/burger/burger


mixin header 
    header.header
        .header__inner.container
            .header__socials 
                .logo 
                    img(src='./assets/images/icons/logo.svg' alt='pages')
                .header__socials-list
                    +social-btn('facebook','https://uk-ua.facebook.com/')(class='social-btn__header' target='_blank' rel='noreferrer')
                    +social-btn('twitter','https://twitter.com/?lang=ru')(class='social-btn__header' target='_blank' rel='noreferrer')
                    +social-btn('link','https://www.linkedin.com/home/?originalSubdomain=ua')(class='social-btn__header' target='_blank' rel='noreferrer')
            nav.navigation
                ul.navigation__list
                    li.navigation__item
                        a.navigation__href(href="#home") Home
                    li.navigation__item
                        a.navigation__href(href="#about") About
                    li.navigation__item
                        a.navigation__href(href="#pages") Pages
                    li.navigation__item
                        a.navigation__href(href="#contacts") Contact Us
                button(type='button').cart-btn
                    img(src='./assets/images/icons/cart.svg' alt='cart')
                +buy-btn('Order Today')(class='buy-btn--order')
            +burger
