.get-book-block {
    background: $c-main-blue;

    &__inner {
        justify-content: space-between;
        padding-bottom: 60px;
        padding-top: 74px;
        @include flex-row;

         //Adaptive changes
        @include media('max', 'mobile-pro') {
            display: block;
        }
    }

    &__content {
        @include flex-col;
        gap: 27px;

         //Adaptive changes
        @include media('max', 'mobile-pro') {
            align-items: center;
        }
    }

    &__description {
        color: $c-light-blue-subtext;
        @include description;
        max-width: 74%;
    }

    &__cover {
        align-self: center;

        & img{
        object-fit: contain;
        max-width: 560px;

        //Adaptive changes
        @include media('max', 'iPad') {
            width: 100%;
        }

        @include media('max', 'mobile-pro') {
            display: none;
        }
    }
    }
    
    
}