.get-book-block {
    background: $c-main-blue;

    &__inner {
        justify-content: space-between;
        padding-bottom: 60px;
        padding-top: 74px;
        @include flex-row;
    }

    &__content {
        @include flex-col;
        gap: 27px;
    }

    &__description {
        color: $c-light-blue-subtext;
        @include description;
        max-width: 74%;
    }

    &__cover {
        align-self: center;

        & img{
        object-fit: contain;
        max-width: 560px;
    }
    }
    
    
}