@font-face {
  font-family: "Cardo";
  src: url("./assets/fonts/Cardo/Cardo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.app {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

.container {
  padding-right: 70px;
  padding-left: 70px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header {
  background: #1B3764;
  padding: 22px 0 21px 0;
}
.header__inner, .navigation__list, .navigation, .header__socials-list, .header__socials {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header__socials {
  justify-content: space-between;
  align-items: center;
}
.header__socials-list {
  justify-content: space-between;
  padding-left: 36px;
  flex: 0 0 50%;
  gap: 10px;
}
@media only screen and (max-width: 1024px) {
  .header__socials-list {
    display: none;
  }
}

.logo {
  height: 35px;
  width: 119px;
}

.navigation {
  justify-content: space-between;
  flex: 0 0 55%;
}
@media only screen and (max-width: 1024px) {
  .navigation {
    display: none;
  }
}
.navigation__list {
  justify-content: space-between;
  flex: 0 0 57.4%;
}
.navigation__item {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 26px;
}
.navigation__item:last-of-type {
  padding-left: 10px;
}
.navigation__href {
  transition: 0.5s color;
  color: #F6F8FC;
}
.navigation__href:hover {
  color: #FFCA42;
}

.cart-btn {
  margin-right: 8px;
  flex: 0 0 14.5%;
  width: 17px;
  height: 17x;
}

.buy-btn {
  border: 1px solid #FFCA42;
  padding: 18px 52px 19px 52px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 1024px) {
  .buy-btn {
    padding: 15px 42px 16px 42px;
  }
}
.buy-btn--color {
  color: #fff;
}
.buy-btn__title {
  text-transform: capitalize;
  letter-spacing: 0.57px;
  font-family: "Cardo", serif;
  font-size: 19px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 28px;
}
.buy-btn--order {
  background: #FFCA42;
}

.circle {
  border: 1px solid #FFCA42;
  background: #FFCA42;
  border-radius: 100px;
  position: relative;
  display: block;
  height: 16px;
  width: 16px;
}
@media only screen and (max-width: 1024px) {
  .circle {
    height: 12px;
    width: 12px;
  }
}
.circle--size-50 {
  height: 50px;
  width: 50px;
}
.circle--size-13 {
  height: 12.67px;
  width: 12.67px;
}
.circle--size-20 {
  height: 20px;
  width: 20px;
}
.circle--size-2 {
  border: 1.5px solid #FFCA42;
  height: 2px;
  width: 2px;
}
.circle--empty {
  background: none;
}
.circle--half {
  background: linear-gradient(#FFCA42 50%, rgba(0, 0, 0, 0) 0);
  transform: rotate(-90deg);
}

.presentation-block {
  background: #1B3764;
}
.presentation-block__inner {
  justify-content: space-between;
  padding-bottom: 100px;
  align-items: center;
  display: flex;
  padding-top: 97px;
  color: #fff;
  gap: 10px;
}
@media only screen and (max-width: 600px) {
  .presentation-block__inner {
    display: block;
  }
}
.presentation-block__item {
  flex-direction: column;
  display: flex;
}
.presentation-block__item:first-of-type {
  padding-left: 23px;
  flex: 0 0 45%;
}
@media only screen and (max-width: 1024px) {
  .presentation-block__item:first-of-type {
    padding-left: 0;
  }
}
.presentation-block__subtitle {
  letter-spacing: 1.2px;
  line-height: 36px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Cardo", serif;
  font-size: 21px;
  font-weight: 400;
  align-items: center;
  display: flex;
  gap: 14px;
}
.presentation-block__title {
  letter-spacing: 1.1px;
  line-height: 77px;
  color: #fff;
  font-family: "Cardo", serif;
  font-size: 64px;
  font-weight: 400;
  padding-top: 10px;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .presentation-block__title {
    line-height: 44px;
    font-size: 34px;
  }
}
.presentation-block__descrip {
  letter-spacing: 0;
  line-height: 28.5px;
  color: #B4C7E7;
  padding-top: 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.presentation-block__order-part {
  padding-top: 42px;
  align-items: center;
  display: flex;
  gap: 55px;
}
@media only screen and (max-width: 1024px) {
  .presentation-block__order-part {
    padding-top: 25px;
  }
}
@media only screen and (max-width: 812px) {
  .presentation-block__order-part {
    display: none;
  }
}
.presentation-block__demo {
  border-bottom: 1px solid #fff;
  text-transform: capitalize;
  letter-spacing: 0.38px;
  font-family: "Cardo", serif;
  font-size: 19px;
  font-weight: 400;
  white-space: nowrap;
  padding-bottom: 5px;
  color: #fff;
}
.presentation-block__book {
  max-width: 592px;
  flex: 0 0 55%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .presentation-block__book {
    display: none;
  }
}
.presentation-block__book img {
  height: 100%;
}

.book-features {
  padding-top: 47px;
  display: flex;
  gap: 65px;
}
@media only screen and (max-width: 1366px) {
  .book-features {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .book-features {
    padding-top: 25px;
  }
}
.book-features__item {
  align-items: baseline;
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 1024px) {
  .book-features__item {
    gap: 5px;
  }
}
.book-features__descrip {
  flex-direction: column;
  display: flex;
  gap: 12px;
}
.book-features__descrip-title {
  letter-spacing: 0.8px;
  line-height: 29px;
  color: #fff;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .book-features__descrip-title {
    font-size: 20px;
  }
}
.book-features__descrip-text {
  letter-spacing: 0;
  line-height: 26px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.separator {
  background: #FFCA42;
  display: inline-block;
  text-align: center;
  height: 2px;
  width: 35px;
}

.block-title {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}
@media only screen and (max-width: 812px) {
  .block-title {
    text-align: center;
  }
}
.block-title--align {
  align-items: flex-start;
  text-align: start;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .block-title--align {
    align-items: center;
  }
}
.block-title__text {
  letter-spacing: 0.2px;
  line-height: 50.4px;
  color: #1B3764;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 44px;
}
@media only screen and (max-width: 812px) {
  .block-title__text {
    font-size: 30px;
  }
}
.block-title__text--color {
  letter-spacing: 2px;
  color: #fff;
}
.block-title__separator {
  background: #FFCA42;
  margin-top: 23px;
}
.block-title__separator--title-size {
  height: 3px;
  width: 50px;
}
.block-title__separator--blue {
  background: #1B3764;
}

.about-authors-block__inner {
  padding-bottom: 140px;
  padding-top: 128px;
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 812px) {
  .about-authors-block__inner {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
.about-authors-block__books {
  justify-content: space-between;
  padding: 70px 0 0 10px;
  align-items: center;
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 600px) {
  .about-authors-block__books {
    flex-direction: column;
    padding: 70px 0 0 0;
  }
}

.book {
  flex: 0 0 48%;
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .book {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .book {
    flex-direction: row;
  }
}
@media only screen and (max-width: 375px) {
  .book {
    flex-direction: column;
    align-items: center;
  }
}
.book__cover {
  max-width: 285px;
  width: 100%;
}
.book__cover img {
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 382px;
  width: 100%;
}
.book__info {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 375px) {
  .book__info {
    align-items: center;
  }
}
.book__title {
  letter-spacing: 0.32px;
  line-height: 38px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 32px;
  font-weight: 400;
}
.book__price {
  letter-spacing: 0;
  line-height: 33px;
  color: #FFCA42;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 400;
  padding-top: 7px;
}
.book__descrip {
  letter-spacing: 0;
  line-height: 28px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 17px;
}
@media only screen and (max-width: 375px) {
  .book__descrip {
    text-align: center;
  }
}
.book__type {
  padding-bottom: 27px;
  padding-top: 18px;
  align-items: center;
  display: flex;
  gap: 10px;
}
.book__type-title {
  letter-spacing: 0;
  line-height: 29px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
}

.contacts__phone, .contacts__email {
  letter-spacing: 0;
  line-height: 28.5px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.contacts__phone a, .contacts__email a {
  color: #B4C7E7;
  letter-spacing: 0.19px;
}

.qr-code {
  background: #1B3764;
  padding: 15px 20px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  margin-top: 54px;
}
@media only screen and (max-width: 600px) {
  .qr-code {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.qr-code__img {
  height: 130px;
  width: 130px;
}

.contacts {
  justify-content: center;
  padding-left: 40px;
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .contacts {
    padding-left: 0;
  }
}
.contacts__name {
  letter-spacing: 0;
  line-height: 26.4px;
  color: #FFCA42;
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 400;
}
.contacts__email {
  padding-top: 10px;
}
.contacts__phone {
  padding-top: 4px;
}
.author-block {
  background: #F4F8FF;
}
.author-block__inner {
  justify-content: space-between;
  padding-bottom: 140px;
  padding-top: 180px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .author-block__inner {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1280px) {
  .author-block__inner {
    justify-content: center;
    gap: 20px;
  }
}
.author-block__content {
  flex-direction: column;
  display: flex;
  flex: 0 0 45%;
}
.author-block__text {
  letter-spacing: 0;
  line-height: 34px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 26px;
}

.rewards-list {
  justify-content: space-between;
  padding-top: 42px;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .rewards-list {
    align-items: flex-start;
  }
}
.rewards-list__item {
  border-left: 1px solid #FFCA42;
  padding-left: 37px;
  flex-direction: column;
  display: flex;
  flex: 1 1 33%;
}
.rewards-list__item:first-of-type {
  padding-left: 10px;
  border: none;
}
.rewards-list__item:nth-of-type(2) {
  padding-right: 14px;
}
.rewards-list__num {
  font-family: "Cardo", serif;
  font-size: 54px;
  font-weight: 400;
  color: #1B3764;
}
.rewards-list__descrip {
  letter-spacing: 0;
  line-height: 22px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding-top: 6px;
}

.bordered-cover {
  border: 10px solid #FFCA42;
  position: relative;
  height: 642px;
  width: 545px;
}
@media only screen and (max-width: 600px) {
  .bordered-cover {
    display: none;
  }
}
.bordered-cover::after {
  content: url("../../assets/images/man.png");
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.bordered-cover img {
  position: absolute;
}
.bordered-cover--img::after {
  content: url("../../assets/images/girl.png");
  bottom: 0px;
  right: 0px;
}
.bordered-cover--size {
  margin-left: 20px;
  height: 652px;
  width: 555px;
}

.trusted-block__inner {
  padding: 126px 0;
}
@media only screen and (max-width: 1024px) {
  .trusted-block__inner {
    padding: 80px 0;
  }
}
.trusted-block__list {
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 1024px) {
  .trusted-block__list {
    display: none;
  }
}

.trusted-element {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.trusted-element__icon {
  height: 100px;
  width: 189px;
}
.trusted-element__title {
  letter-spacing: 0;
  line-height: 34px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-top: 22px;
}
.trusted-element__description {
  letter-spacing: 0;
  line-height: 28px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  padding-top: 16px;
  max-width: 80%;
}

.trusted-slider {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .trusted-slider {
    margin-top: 30px;
    display: block;
  }
}
.trusted-slider .swiper-button-next::after, .trusted-slider .swiper-button-prev::after {
  color: #1B3764;
  font-size: 30px;
}

.get-book-block {
  background: #1B3764;
}
.get-book-block__inner {
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 74px;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .get-book-block__inner {
    display: block;
  }
}
.get-book-block__content {
  flex-direction: column;
  display: flex;
  gap: 27px;
}
@media only screen and (max-width: 600px) {
  .get-book-block__content {
    align-items: center;
  }
}
.get-book-block__description {
  color: #B4C7E7;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-size: 19px;
  max-width: 74%;
}
.get-book-block__cover {
  align-self: center;
}
.get-book-block__cover img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 560px;
}
@media only screen and (max-width: 1024px) {
  .get-book-block__cover img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .get-book-block__cover img {
    display: none;
  }
}

.learn-block__inner {
  padding-bottom: 148px;
  padding-top: 140px;
}
.learn-block__content {
  padding-top: 80px;
  align-items: center;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .learn-block__content {
    display: block;
  }
}
.learn-block__items {
  flex-wrap: wrap;
  display: flex;
  flex: 0 0 56%;
  gap: 30px;
}
@media only screen and (max-width: 1280px) {
  .learn-block__items {
    position: relative;
    display: block;
    z-index: 3;
  }
}

.learn-item {
  padding: 30px 45px 27px 30px;
  background: #F4F8FF;
  flex-direction: column;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
  flex: 0 0 42.65%;
  display: flex;
  width: 303px;
}
@media only screen and (max-width: 1280px) {
  .learn-item {
    margin: 10px auto;
  }
}
.learn-item__count {
  position: relative;
}
.learn-item__number {
  transform: translate(55%, -140%);
  position: absolute;
  line-height: 29px;
  font-size: 23px;
}
.learn-item__text {
  padding-top: 30px;
  line-height: 34px;
  font-size: 24px;
  width: 90%;
}

.vision-block {
  background: #F4F8FF;
}
.vision-block__inner {
  padding-bottom: 130px;
  padding-top: 118px;
}
.vision-block__chapter-list {
  justify-content: space-between;
  padding-top: 70px;
  flex-wrap: wrap;
  display: flex;
}
@media only screen and (max-width: 1280px) {
  .vision-block__chapter-list {
    display: none;
  }
}
.vision-block__footer {
  justify-content: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-size: 19px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin-top: 72px;
  font-size: 18px;
}
.vision-block__chapter-descrip, .vision-block__contacts span {
  padding-top: 34px;
  color: #969AA0;
}
.vision-block__contacts {
  color: #1B3764;
}

.vision-item {
  padding: 42px 45px 44px 40px;
  background: #fff;
  margin-right: 30px;
  flex: 0 0 48.5%;
}
@media only screen and (max-width: 1280px) {
  .vision-item {
    margin: 0 auto;
  }
}
.vision-item:nth-of-type(2n) {
  padding-left: 52px;
  margin-right: 0;
}
.vision-item:nth-of-type(3), .vision-item:nth-of-type(4) {
  margin-top: 40px;
}
.vision-item__title {
  letter-spacing: 0;
  line-height: 29px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
}
.vision-item__description {
  letter-spacing: 0;
  line-height: 32px;
  color: #969AA0;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-size: 19px;
  padding-top: 22px;
}
.vision-item__features, .vision-item__feature {
  align-items: center;
  display: flex;
  padding-top: 5px;
}
@media only screen and (max-width: 600px) {
  .vision-item__features, .vision-item__feature {
    flex-wrap: wrap;
  }
}
.vision-item__feature-name {
  letter-spacing: 0;
  line-height: 31px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 400;
  padding-left: 10px;
}
.vision-item__feature-value {
  letter-spacing: 0;
  line-height: 27px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding-left: 15px;
  align-self: end;
}
.vision-item__feature:last-of-type {
  padding-left: 52px;
}
@media only screen and (max-width: 600px) {
  .vision-item__feature:last-of-type {
    padding: 0;
  }
}

.trail-btn {
  background: #FFCA42;
  text-transform: capitalize;
  padding: 24px 92px 23px;
  letter-spacing: 0.57px;
  color: #1B3764;
  text-align: center;
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-size: 19px;
}

.vision-slider {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .vision-slider {
    margin-top: 20px;
    display: block;
  }
}
.vision-slider__card {
  padding: 0 20px;
}
.vision-slider .swiper-button-next::after, .vision-slider .swiper-button-prev::after {
  color: #FFCA42;
  font-size: 30px;
}

.review-block__inner {
  padding-bottom: 150px;
  padding-top: 120px;
  align-items: center;
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 812px) {
  .review-block__inner {
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
.review-block__content {
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 1366px) {
  .review-block__content {
    align-items: center;
  }
}
.review-block__text {
  letter-spacing: 0;
  line-height: 34px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 34px;
  width: 90%;
}
.review-block__rating {
  align-items: center;
  display: flex;
  align-items: flex-end;
  padding-top: 22px;
  gap: 10px;
}
.review-block__rating span {
  letter-spacing: 0;
  line-height: 26px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 400;
}
.review-block__rating-title {
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-size: 19px;
  color: #1B3764;
  padding-top: 10px;
}
.review-block__reviews {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 60.5%;
  height: 634px;
  gap: 20px;
}
@media only screen and (max-width: 1366px) {
  .review-block__reviews {
    height: auto;
  }
}

.review-item {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1098039216);
  padding: 24px 35px 24px;
  background: #1B3764;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  display: flex;
  max-width: 381px;
  height: 292px;
}
@media only screen and (max-width: 600px) {
  .review-item {
    height: auto;
  }
}
.review-item__user {
  align-items: center;
  display: flex;
}
.review-item__user-icon {
  border-radius: 100px;
  height: 85px;
  width: 85px;
}
.review-item__user-info {
  padding-left: 20px;
  flex-direction: column;
  display: flex;
  color: #fff;
}
.review-item__user-name {
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
  line-height: 29px;
}
.review-item__title {
  letter-spacing: 0;
  line-height: 33px;
  color: #fff;
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 20px;
}
.review-item__text {
  letter-spacing: 0;
  line-height: 29px;
  color: #B4C7E7;
  padding-top: 13px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 94.5%;
}

.user-mark {
  display: flex;
  gap: 3.17px;
}

.subscribe-block__inner {
  padding-bottom: 120px;
  padding-top: 120px;
}
@media only screen and (max-width: 1024px) {
  .subscribe-block__inner {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.subscribe-block__content {
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1803921569);
  padding: 100px 150px 115px;
  background: #FFCA42;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #1B3764;
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .subscribe-block__content {
    padding: 50px 20px 90px;
  }
}
.subscribe-block__subtitle {
  padding-top: 25px;
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.subscribe-form {
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  display: flex;
  height: 70px;
  width: 100%;
  gap: 16px;
}
@media only screen and (max-width: 812px) {
  .subscribe-form {
    flex-direction: column;
    display: flex;
  }
}
.subscribe-form__label, .subscribe-form__input, .subscribe-form__btn {
  height: 100%;
  width: 100%;
}
.subscribe-form__input {
  padding: 19px 39px 20px;
  outline: none;
  border: none;
}
@media only screen and (max-width: 1024px) {
  .subscribe-form__input {
    padding: 15px 30px;
  }
}
.subscribe-form__input::-moz-placeholder {
  letter-spacing: 0.18px;
  line-height: 31px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-form__input:-ms-input-placeholder {
  letter-spacing: 0.18px;
  line-height: 31px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-form__input::placeholder {
  letter-spacing: 0.18px;
  line-height: 31px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-form__btn {
  letter-spacing: 0.18px;
  line-height: 31px;
  color: #fff;
  background: #1B3764;
  padding: 19px 120px 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .subscribe-form__btn {
    padding: 15px 40px;
  }
}

.article-block {
  background: #F4F8FF;
}
.article-block__inner {
  padding-bottom: 140px;
  padding-top: 126px;
}
@media only screen and (max-width: 812px) {
  .article-block__inner {
    padding-bottom: 80px;
    padding-top: 50px;
  }
}

.article-card, .article-card__descrip {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.0705882353);
  border-radius: 5px;
  flex-direction: column;
  display: flex;
}
.article-card__cover {
  flex: 0 0 56%;
}
.article-card__cover img {
  width: 100%;
}
.article-card__descrip {
  background: #fff;
  border-radius: 0;
  padding: 30px;
}
.article-card__title {
  letter-spacing: 0.24px;
  line-height: 34px;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
}
.article-card__preview {
  letter-spacing: 0;
  line-height: 30px;
  color: #969AA0;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 19px;
}
.article-card__info {
  justify-content: space-between;
  padding-top: 13.34px;
  align-items: center;
  display: flex;
}
.article-card__info a {
  color: #1B3764;
}
.article-card__more {
  border-bottom: 1px solid #1B3764;
}
.article-card__more:hover {
  color: #B4C7E7;
}
.article-card__date {
  letter-spacing: 0;
  line-height: 26px;
  color: #1B3764;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.article-slider {
  padding: 70px 0 10px;
}
.article-slider .swiper-button-next::after, .article-slider .swiper-button-prev::after {
  color: #1B3764;
  position: relative;
  font-size: 25px;
  z-index: 1;
}
.article-slider .swiper-button-next::before, .article-slider .swiper-button-prev::before {
  background: #FFCA42;
  border-radius: 50%;
  position: absolute;
  height: 50px;
  content: "";
  width: 50px;
}

.social-btn__header {
  border: 2px solid #fff;
  background: #fff;
  height: 45px;
  width: 45px;
}
.social-btn__header path {
  fill: #111;
}
.social-btn__footer {
  border: 2px solid #FFCA42;
  background: none;
  height: 55px;
  width: 55px;
}
.social-btn__footer path {
  fill: #fff;
}

.footer {
  background: #1B3764;
}
.footer__inner {
  justify-content: space-between;
  padding: 92px 70px 24px;
  flex-direction: column;
  display: flex;
}
.footer__content {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  gap: 28px;
}
.footer__socials-list {
  align-items: center;
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer__sub-content {
  letter-spacing: 0.17px;
  line-height: 26px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  align-self: center;
  padding-top: 95px;
}
.footer__sub-content a {
  color: #fff;
}

.footer-list {
  flex-direction: column;
  display: flex;
}
.footer-list--align {
  align-self: center;
}
.footer-list__title {
  letter-spacing: 0.384px;
  line-height: 34px;
  color: #fff;
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 24px;
}
.footer-list__item {
  letter-spacing: 0.18px;
  line-height: 31px;
  color: #B4C7E7;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer-list__item span {
  margin-right: 3px;
}
.footer-list__item span:first-of-type {
  margin-right: 10px;
}

.contacts__item {
  letter-spacing: 0.36px;
  line-height: 27px;
  color: #fff;
  justify-content: space-between;
  padding-bottom: 28px;
  align-items: center;
  display: flex;
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
}
.contacts__subtext {
  letter-spacing: 0;
  line-height: 27px;
  color: #B4C7E7;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  flex: 0 0 59%;
}

.burger {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .burger {
    position: absolute;
    display: block;
    right: 20px;
  }
}
.burger__btn {
  background: content-box;
  pointer-events: visible;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  padding: 10px;
  display: flex;
  border: none;
  opacity: 1;
}
.burger__btn__event {
  pointer-events: none;
  opacity: 0;
}
.burger__btn:hover span {
  background-color: #F6F8FC;
  transition: 0.5s;
}

.burger__btn span {
  background-color: #969AA0;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 22px;
  height: 2px;
}

.burger span:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=index.css.map */