.block-title {
  align-items: center;
  @include flex-col;
  margin: 0 auto;

  @include media('max', 'mobile-horizontal') {
    text-align: center;
  }

  &--align {
    align-items: flex-start;
    text-align: start;
    padding: 0;
    margin: 0;

    @include media('max', 'iPad') {
     align-items: center;
    }
  }

  &__text {
    @include font-properties(50.4px, $c-main-blue, 0.2px);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 44px;

    &--color {
      letter-spacing: 2px;
      color: $c-white;
    }
  }

  &__separator {
    background: $c-main-yellow;
    margin-top: 23px;

    &--title-size {
      height: 3px;
      width: 50px;
    }

    &--blue {
      background: $c-main-blue;
    }
  }
}
