.subscribe-block {
  &__inner {
    padding-bottom: 120px;
    padding-top: 120px;

    // Adaptive
    @include media('max', 'iPad') {
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  &__content {
    @include box-shadow(19px, #0000002e);
    padding: 100px 150px 115px;
    background: $c-main-yellow;
    border-radius: $radius-5;
    justify-content: center;
    align-items: center;
    color: $c-main-blue;
    @include flex-col;

    // Adaptive
    @include media('max', 'iPad') {
      padding: 50px 20px 90px;
    }
  }

  &__subtitle {
    padding-top: 25px;
    text-align: center;
    line-height: 28px;
    @include f-Inter;
  }
}

// Form styles

.subscribe-form {
  justify-content: space-between;
  margin-top: 50px;
  @include flex-row;
  height: 70px;
  width: 100%;
  gap: 16px;

  // Adaptive
  @include media('max', 'mobile-horizontal') {
    @include flex-col;
  }

  &__label,
  &__input {
    height: 100%;
    width: 100%;
  }

  &__input {
    padding: 19px 39px 20px;
    outline: none;
    border: none;

    //Adaptive
    @include media('max', 'iPad') {
      padding: 15px 30px;
    }

    &::placeholder {
      @include font-properties(31px, $c-light-blue-subtext, 0.18px);
      @include f-Inter;
    }
  }

  &__btn {
    @include font-properties(31px, $c-white, 0.18px);
    background: $c-main-blue;
    padding: 19px 120px 18px;
    text-align: center;
    @include f-Inter;

    // Adaptive
    @include media('max', 'iPad') {
      padding: 15px 40px;
      height: 100%;
      width: 100%;
    }
  }
}
