.author-block {
  background: $c-light-blue-bg;

  &__inner {
    justify-content: space-between;
    padding-bottom: 140px;
    padding-top: 180px;
    @include flex-row;
    flex-wrap: wrap;

    //Adaptive changes
    @include media('max', 'mobile-pro') {
      padding-bottom: 80px;
      padding-top: 80px;
    }

    //Adaptive changes
    @include media('max', 'hd') {
      justify-content: center;
      gap: 20px;
    }
  }

  &__content {
    @include flex-col;
    flex: 0 0 45%;
  }

  &__text {
    @include font-properties(34px, $c-main-gray);
    @include f-Inter(19px);
    padding-top: 26px;
  }
}
.rewards-list {
  justify-content: space-between;
  padding-top: 42px;
  @include flex-row;

  //Adaptive
  @include media('max', 'mobile-pro') {
    align-items: flex-start;
  }

  &__item {
    border-left: 1px solid $c-main-yellow;
    padding-left: 37px;
    @include flex-col;
    flex: 1 1 33%;

    &:first-of-type {
      padding-left: 10px;
      border: none;
    }

    &:nth-of-type(2) {
      padding-right: 14px;
    }
  }

  &__num {
    @include f-Cardo(54px);
    color: $c-main-blue;
  }

  &__descrip {
    @include font-properties(22px, $c-main-gray);
    @include f-Inter(17px);
    padding-top: 6px;
  }
}

.bordered-cover {
  border: 10px solid $c-main-yellow;
  position: relative;
  height: 642px;
  width: 545px;

  //Adaptive changes
  @include media('max', 'mobile-pro') {
    display: none;
  }

  &::after {
    content: url('../../assets/images/man.png');
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  & img {
    position: absolute;
  }

  &--img {
    &::after {
      content: url('../../assets/images/girl.png');
      bottom: 0px;
      right: 0px;
    }
  }
  &--size {
    margin-left: 20px;
    height: 652px;
    width: 555px;
  }
}
