%font {
  @include font-properties(28.5px, $c-light-blue-subtext);
  @include f-Inter(18px);
}

%href {
  color: $c-light-blue-subtext;
  letter-spacing: 0.19px;
}

.qr-code {
  background: $c-main-blue;
  padding: 15px 20px 16px;
  width: fit-content;
  @include flex-row;
  margin-top: 54px;

  //Adaptive
  @include media('max', 'mobile-pro') {
    flex-wrap: wrap;
    gap: 20px;
  }

  &__img {
    height: 130px;
    width: 130px;
  }
}
.contacts {
  justify-content: center;
  padding-left: 40px;
  @include flex-col;

  //Adaptive
  @include media('max', 'mobile-pro') {
    padding-left: 0;
  }

  &__name {
    @include font-properties(26.4px, $c-main-yellow);
    @include f-Cardo(22px);
  }

  &__email {
    padding-top: 10px;
    @extend %font;

    & a {
      @extend %href;
    }
  }

  &__phone {
    padding-top: 4px;
    @extend %font;

    & a {
      @extend %href;
    }
  }
}
