.trusted-block {
  &__inner {
    padding: 126px 0;

    @include media('max', 'iPad') {
      padding: 80px 0;
    }
  }

  &__list {
    justify-content: space-between;
    padding-top: 50px;
    @include flex-row;
    gap: 16px;

    @include media('max', 'iPad') {
      display: none;
    }
  }
}

.trusted-element {
  @include flex-col;
  align-items: center;

  &__icon {
    height: 100px;
    width: 189px;
  }

  &__title {
    @include font-properties(34px, $c-main-blue);
    @include f-Cardo(24px);
    text-align: center;
    padding-top: 22px;
  }

  &__description {
    @include font-properties(28px, $c-main-gray);
    @include f-Inter(19px);
    text-align: center;
    padding-top: 16px;
    max-width: 80%;
  }
}

.trusted-slider {
  display: none;

  @include media('max', 'iPad') {
    margin-top: 30px;
    display: block;
  }

  & .swiper-button-next::after,
  & .swiper-button-prev::after {
    color: $c-main-blue;
    font-size: 30px;
  }
}
