mixin trusted-element (icon, title, description)
    .trusted-element
        .trusted-element__icon
            img(src=icon, alt=title)
        p.trusted-element__title=title
        p.trusted-element__description=description