.about-authors-block {
  &__inner {
    flex-direction: column;
    padding-bottom: 140px;
    padding-top: 128px;
    display: flex;
  }

  &__books {
    justify-content: space-between;
    padding: 70px 0 0 10px;
    align-items: center;
    display: flex;
  }
}

.book {
  flex: 0 0 48%;
  display: flex;
  gap: 30px;

  &__cover {
    max-width: 285px;
    width: 100%;
   
    & img {
      min-height: 382px; 
      object-fit: cover;
      width: 100%;
    }
  }

  &__info {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  &__title {
    letter-spacing: 0.32px;
    color: $c-main-blue;
    line-height: 38px;
    @include f-Cardo;
    font-size: 32px;
  }

  &__price {
    color: $c-main-yellow;
    line-height: 33px;
    padding-top: 7px;
    @include f-Inter;
    font-size: 21px;
  }
  &__descrip {
    color: $c-main-gray;
    line-height: 28px;
    padding-top: 17px;
    @include f-Inter;
    font-size: 19px;
  }

  &__type {
    padding-bottom: 27px;
    align-items: center;
    padding-top: 18px;
    display: flex;
    gap: 10px;

    &-title {
      color: $c-main-blue;
      line-height: 29px;
      @include f-Cardo;
      font-size: 24px;
    }
  }
}
