.about-authors-block {
  &__inner {
    padding-bottom: 140px;
    padding-top: 130px;
    @include flex-col;

    //Adaptive changes
    @include media('max', 'mobile-horizontal') {
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  &__books {
    justify-content: space-between;
    padding: 70px 0 0 10px;
    @include flex-row;
    gap: 10px;

    //Adaptive changes
    @include media('max', 'mobile-pro') {
      flex-direction: column;
      padding: 70px 0 0 0;
    }
  }
}

.book {
  flex: 0 0 48%;
  display: flex;
  gap: 30px;

  //Adaptive changes
  @include media('max', 'iPad') {
    flex-direction: column;
  }

  @include media('max', 'mobile-pro') {
    flex-direction: row;
  }
  @include media('max', 'mobile') {
    flex-direction: column;
    align-items: center;
  }
  &__cover {
    max-width: 285px;
    width: 100%;

    & img {
      object-fit: contain;
      min-height: 382px;
      width: 100%;
    }
  }

  &__info {
    justify-content: center;
    @include flex-col;

    //Adaptive changes
    @include media('max', 'mobile') {
      align-items: center;
    }
  }

  &__title {
    @include font-properties(38px, $c-main-blue, 0.32px);
    @include f-Cardo(32px);
  }

  &__price {
    @include font-properties(33px, $c-main-yellow);
    @include f-Inter(21px);
    padding-top: 7px;
  }
  &__descrip {
    @include font-properties(28px, $c-main-gray);
    @include f-Inter(19px);
    padding-top: 17px;

    //Adaptive changes
    @include media('max', 'mobile') {
      text-align: center;
    }
  }

  &__type {
    padding-bottom: 27px;
    padding-top: 18px;
    @include flex-row;
    gap: 10px;

    &-title {
      @include font-properties(29px, $c-main-blue);
      @include f-Cardo(24px);
    }
  }
}
