include ../../elements/social-btn/social-btn
include ./footer-list

-const exploreList = ['Home', 'About', 'Articles', 'Our Store', 'Contact Us']
-const utilityList = ['Style Guide', '404 Not Found', 'Password Protected', 'Licenses', 'Changelog']



mixin footer-block
    footer.footer 
        .footer__inner.container
            .footer__content  
                .socials 
                    .logo 
                        img(src='./assets/images/icons/logo.svg' alt='pages')
                    .footer__socials-list
                        +social-btn('facebook','https://uk-ua.facebook.com/')(class='social-btn__footer' target='_blank' rel='noreferrer')
                        +social-btn('twitter','https://twitter.com/?lang=ru')(class='social-btn__footer' target='_blank' rel='noreferrer') 
                        +social-btn('link','https://www.linkedin.com/home/?originalSubdomain=ua')(class='social-btn__footer' target='_blank' rel='noreferrer') 
                        +social-btn('insta','https://www.instagram.com/')(class='social-btn__footer' target='_blank' rel='noreferrer')
                +footer-list('Explore', exploreList)
                +footer-list('Utility Pages', utilityList)
                .footer-list.footer-list--align
                    .footer-list__title Keep in Touch
                    p.contacts__item Address : 
                        span.contacts__subtext 24A Kingston St, Los Vegas NC 28202, USA.
                    p.contacts__item Mail : 
                        a(ref = 'mailto: support@pages.com').contacts__subtext support@pages.com
                    p.contacts__item Phone : 
                        a(href='tel:(+22)123-4567-900').contacts__subtext (+22) 123 - 4567 - 900
            p.footer__sub-content © Drafted by #[a(href='#') VictorFlow ]  - Powered by #[a(href='#') Webflow. ]  
                