.learn-block {
  &__inner {
    padding-bottom: 148px;
    padding-top: 140px;
  }

  &__content {
    padding-top: 80px;
    @include flex-row;

    // Adaptive changes

    @include media("max", "mobile-pro") {
      display: block;
    }
  }

  &__items {
    flex-wrap: wrap;
    display: flex;
    flex: 0 0 56%;
    gap: 30px;

    @include media("max", "hd") {
      position: relative;
      display: block;
      z-index: 3;
    }
  }
}

.learn-item {
  padding: 30px 45px 27px 30px;
  background: $c-light-blue-bg;
  flex-direction: column;
  color: $c-main-blue;
  @include f-Cardo;
  flex: 0 0 42.65%;
  display: flex;
  width: 303px;

  @include media("max", "hd") {
    margin: 10px auto;
  }

  &__count {
    position: relative;
  }

  &__number {
    transform: translate(55%, -140%);
    position: absolute;
    line-height: 29px;
    font-size: 23px;
  }

  &__text {
    padding-top: 30px;
    line-height: 34px;
    font-size: 24px;
    width: 90%;
  }
}
