// Article block style

.article-block {
  background: $c-light-blue-bg;

  &__inner {
    padding-bottom: 140px;
    position: relative;
    padding-top: 126px;

    //Adaptive

    @include media('max', 'mobile-horizontal') {
      padding-bottom: 80px;
      padding-top: 50px;
    }
  }

  // Slider navigation

  & .swiper-button-next {
    right: 4%;
  }

  & .swiper-button-prev {
    left: 4%;
  }

  & .swiper-button-next::after,
  & .swiper-button-prev::after {
    color: $c-main-blue;
    position: relative;
    font-size: 25px;
    z-index: 1;
  }

  & .swiper-button-next::before,
  & .swiper-button-prev::before {
    background: $c-main-yellow;
    border-radius: 50%;
    position: absolute;
    height: 50px;
    content: '';
    width: 50px;
  }
}

// Article card styles

.article-card {
  @include box-shadow(13px, #00000012);
  border-radius: $radius-5;
  @include flex-col;

  &__cover {
    flex: 0 0 56%;

    & img {
      width: 100%;
    }
  }

  &__descrip {
    @extend .article-card;
    background: $c-white;
    border-radius: 0;
    padding: 30px;
  }
  &__title {
    @include font-properties(34px, $c-main-blue, 0.24px);
    @include f-Cardo(24px);
  }

  &__preview {
    @include font-properties(30px, $c-main-gray);
    @include f-Inter(19px);
    padding-top: 19px;
  }

  &__info {
    justify-content: space-between;
    padding-top: 13.34px;
    @include flex-row;

    & a {
      color: $c-main-blue;
    }
  }

  &__more {
    border-bottom: 1px solid $c-main-blue;

    &:hover {
      color: $c-light-blue-subtext;
    }
  }

  &__date {
    @include font-properties(26px, $c-main-blue);
    @include f-Inter(16px);
  }
}

// Slider

.article-slider {
  padding: 70px 0 10px;
}
