.review-block {
  &__inner {
    padding-bottom: 150px;
    padding-top: 120px;
    @include flex-row;
    gap: 30px;

    //Adaptive
    @include media('max', 'mobile-horizontal') {
      flex-direction: column;
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  &__content {
    @include flex-col;

    //Adaptive
    @include media('max', 'iPad-horizontal') {
      align-items: center;
    }
  }

  &__text {
    @include font-properties(34px, $c-main-gray);
    @include f-Inter(19px);
    padding-top: 34px;
    width: 90%;
  }

  &__rating {
    @include flex-row;
    align-items: flex-end;
    padding-top: 22px;
    gap: 10px;

    & span {
      @include font-properties(26px, $c-main-blue);
      @include f-Cardo(22px);
    }

    &-title {
      @include description;
      color: $c-main-blue;
      padding-top: 10px;
    }
  }

  &__reviews {
    justify-content: center;
    align-items: center;
    @include flex-col;
    flex-wrap: wrap;
    flex: 0 0 60.5%;
    height: 634px;
    gap: 20px;

    //Adaptive
    @include media('max', 'iPad-horizontal') {
      height: auto;
    }
  }
}

.review-item {
  @include box-shadow(3px, #0000001c);
  padding: 24px 35px 24px;
  background: $c-main-blue;
  width: fit-content;
  @include flex-col;
  max-width: 381px;
  height: 292px;

  //Adaptive
  @include media('max', 'mobile-pro') {
    height: auto;
  }

  &__user {
    @include flex-row;

    &-icon {
      border-radius: 100px;
      height: 85px;
      width: 85px;
    }

    &-info {
      padding-left: 20px;
      @include flex-col;
      color: $c-white;
    }

    &-name {
      @include f-Cardo(24px);
      padding-bottom: 10px;
      line-height: 29px;
    }
  }
  &__title {
    @include font-properties(33px, $c-white);
    @include f-Cardo(22px);
    padding-top: 20px;
  }

  &__text {
    @include font-properties(29px, $c-light-blue-subtext);
    padding-top: 13px;
    @include f-Inter;
    width: 94.5%;
  }
}
