include ../circle/circle


mixin user-mark(mark)
    .user-mark
        if mark==5
            -for (let x=0; x < mark; x++)
                +circle&attributes(attributes) 
        else if mark==4.5
            +circle&attributes(attributes)
            +circle&attributes(attributes)
            +circle&attributes(attributes)
            +circle&attributes(attributes)
            +circle('half')&attributes(attributes)
        else
            +circle&attributes(attributes) 
            +circle&attributes(attributes)
            +circle&attributes(attributes)
            +circle&attributes(attributes)
            +circle('empty')&attributes(attributes)
