//* Mixins


// Fonts

@mixin f-Inter($font-size:18px) {
    font-family: 'Inter', sans-serif;
    font-size: $font-size;
    font-weight: 400;
}

@mixin f-Cardo($font-size:18px) {
    font-family: 'Cardo', serif;
    font-size: $font-size;
    font-weight: 400;
}

@mixin font-properties ($line-height, $color:$c-white, $letter-spacing:0) {
    letter-spacing:  $letter-spacing;
    line-height: $line-height;
    color: $color;
}

// Shadow

@mixin box-shadow ($blur-radius, $color) {
    box-shadow: 0px 0px $blur-radius $color;
}

//Description styles

@mixin description {
    line-height: 28px;   
    @include f-Inter;
    font-size: 19px;
}


// Flex

@mixin flex-col {
    flex-direction: column;
    display: flex;
}

@mixin flex-row {
    align-items: center;
    display: flex;
}



// Media
@function getPreviousSize($currentSize) {
    $keys: map-keys($sizes);
    $index: index($keys, $currentSize)-1;
    $value: map-values($sizes);
    @return nth($value, $index);
}

@mixin media($minmax, $media) {

    @each $size,
    $resolution in $sizes {
        @if $media ==$size {
            @if ($minmax  !='within') {
                @media only screen and (#{$minmax}-width: (($resolution))) {
                    @content;
                }
            }
            @else {
                @if (index(map-keys($sizes), $media) > 1) {
                    @media (min-width: (getPreviousSize($media))) and (max-width: (($resolution)-1)) {
                        @content;
                    }
                }
                @else {
                    @media (max-width: $resolution) {
                        @content;
                    }
                }
            }
        }
    }
}