.vision-block {
  background: $c-light-blue-bg;

  &__inner {
    padding-bottom: 130px;
    padding-top: 118px;
    position: relative;
  }

  &__chapter-list {
    justify-content: space-between;
    padding-top: 70px;
    flex-wrap: wrap;
    display: flex;

    @include media('max', 'hd') {
      display: none;
    }
  }

  &__footer {
    justify-content: center;
    @include description;
    align-items: center;
    text-align: center;
    @include flex-col;
    margin-top: 72px;
    font-size: 18px;
  }

  &__chapter-descrip,
  &__contacts span {
    padding-top: 34px;
    color: $c-main-gray;
  }
  &__contacts {
    color: $c-main-blue;
  }

  & .swiper-button-next::after,
  & .swiper-button-prev::after {
    color: $c-main-yellow;
    font-size: 30px;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    display: none;
    top: 40%;

    //ADAPTIVE
    @include media('max', 'hd') {
      display: block;
    }
  }
}

.vision-item {
  padding: 42px 45px 44px 40px;
  background: $c-white;
  margin-right: 30px;
  flex: 0 0 48.5%;

  //ADAPTIVE
  @include media('max', 'hd') {
    margin: 0 auto;
  }

  &:nth-of-type(2n) {
    padding-left: 52px;
    margin-right: 0;
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    margin-top: 40px;
  }

  &__title {
    @include font-properties(29px, $c-main-blue);
    @include f-Cardo(24px);
  }

  &__description {
    @include font-properties(32px, $c-main-gray);
    @include description;
    padding-top: 22px;
    width: 90%;
  }
  &__features {
    @include flex-row;
    padding-top: 5px;

    //ADAPTIVE
    @include media('max', 'mobile-pro') {
      flex-wrap: wrap;
    }
  }

  &__feature {
    @extend .vision-item__features;

    &-name {
      @include font-properties(31px, $c-main-blue);
      @include f-Cardo(22px);
      padding-left: 10px;
    }

    &-value {
      @include font-properties(27px, $c-main-gray);
      @include f-Inter(17px);
      padding-left: 15px;
      align-self: end;
    }

    &:last-of-type {
      padding-left: 52px;

      //ADAPTIVE
      @include media('max', 'mobile-pro') {
        padding: 0;
      }
    }
  }
}

.trail-btn {
  background: $c-main-yellow;
  text-transform: capitalize;
  padding: 24px 92px 23px;
  letter-spacing: 0.57px;
  color: $c-main-blue;
  text-align: center;
  @include f-Cardo;
  @include description;
}

// Slider

.vision-slider {
  display: none;

  //ADAPTIVE
  @include media('max', 'hd') {
    margin-top: 20px;
    display: block;
  }

  &__card {
    padding: 0 20px;
  }
}
